
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

/* Root variables */
:root {
    --primary-color: #0F172A;
    --secondary-color: #61DAFB;
    --text-color: #F1F5F9;
    --font-family: "Poppins", sans-serif;
    --main-font: 3em;
    --font-size: 1.25em;
}

/* Beginning of the navigation bar */
header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: var(--text-color);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

nav a{
    color: var(--primary-color);
    margin: 0 10px;
    font-size: 1.25em;
    font-weight: bold;
    font-family: var(--font-family);
}

.navigationsocials i{
    font-size: 30px;
    color: var(--primary-color);
    margin-right: 10px;
}
/* End of the Navigation bar */

/* Start of the Hero section */
.herosection{
    width: 100%;
    min-height: 100%;
    background-color: var(--primary-color);
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.herosection .heroinfo{
    margin-top: 120px;
    font-family: var(--font-family);
    color: var(--text-color);
}

.herosection .heroinfo h3{
    font-size: 1.25em;
    color: var(--text-color);
}

.herosection .heroinfo h1{
    font-size: var(--main-font);
    color: var(--secondary-color);
}

.herosection .heroinfo h2{
    font-size: 2em;
    margin: 15px 0;
    color: var(--secondary-color);
}

.herosection .heroinfo p{
    font-size: var(--font-size);
    margin: 20px 0;
    font-weight: 300;
}

.herobtn button{
    height: 45px;
    width: 200px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
}

.herobtn .btntwo{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    margin-left: 20px;
}

.herobtn .btntwo i{
    margin-left: 10px;
}

.herosection .heroimage img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-top: 100px;
}
/*End of the Hero Section*/

/* Start of the About Section */
.aboutsection{
    width: 100%;
    min-height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.herocontent{
    width: 80%;
    height: 100%;
    background-color: var(--primary-color);
    margin-top: 50px;
}

.herocontent h1{
    font-size: var(--main-font);
    font-family: var(--font-family);
    margin-top: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.aboutinfoone p{
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--text-color);
}

.aboutinfotwo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.aboutinfotwocontent{
    display: flex;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
}

.aboutinfotwocontent h3{
    font-weight: 400;
    color: var(--secondary-color);
}

.aboutinfotwocontent p{
    margin-left: 20px;
    color: var(--text-color);
}

.aboutcardones{
    display: flex;
    justify-content: space-between;
}

.aboutcard{
    width: 300px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(2, 14, 19);
}

.aboutcard h2{
    font-family: var(--font-family);
    font-size: var(--main-font);
    font-weight: 600;
    margin-left: 20px;
    color: var(--primary-color);
}

.aboutcard p{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 600;
    margin-left: 20px;
    color: var(--primary-color);
}
/* End of the About Section */

/* Start of the Skills Section */
.skillsection{
    width: 100%;
    min-height: 60vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillcontent{
    width: 80%;
    height: 100%;
    background-color: var(--primary-color);
}

.skillcontent h1{
    font-family: var(--font-family);
    font-size: var(--main-font);
    color: var(--secondary-color);
    text-align: center;
}

.skillinfo{
    display: flex;
    justify-content: space-between;
}

.skillinfoleft{
    width: 49%;
    background-color: var(--primary-color);
}

.skillinformation{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    font-weight: 400;
}

.skillinformation i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--text-color);
}

.skilllane{
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.skillinfoleftone .skilllanefill{
    width: 95%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinfolefttwo .skilllanefill{
    width: 85%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinfoleftthree .skilllanefill{
    width: 30%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinfoleftfour .skilllanefill{
    width: 70%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinforight{
    width: 49%;
    background-color: var(--primary-color);
}

.skillinforightone .skilllanefill{
    width: 30%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinforighttwo .skilllanefill{
    width: 80%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinforightthree .skilllanefill{
    width: 70%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skillinforightfour .skilllanefill{
    width: 70%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}
/* End of the Skills Section */

/* Start of the Experience Section */
.experiencesection{
    width: 100%;
    min-height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
}

.experiencecontent{
    width: 80%;
    height: 100%;
    background-color: blue;
}

.experiencecontent h1{
    font-family: var(--font-family);
    font-size: var(--main-font);
    color: var(--secondary-color);
    text-align: center;
}

.experiencecontent p{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    text-align: center;
}

.experiencecards{
    display: flex;
    justify-content: space-between;
}

.experiencecard{
    width: 400px;
    height: 400px;
    background-color: purple;
    border-radius: 10px;
}